.tile {
    background-color: #8d7b68;
    color: #f1dec9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px auto;
    padding-left: 10px;

    /* opacity: 0; */
        /* transform: translateX(100px);
        transition: transform 0.5s ease-out, opacity 0.5s ease-out; */
}

.tile.slide-in {
    opacity: 1;
    transform: translateX(0);
}

.text__description {
    font-size: 14px;
}

/* 
.card {
    margin: 30px;
}

.card_container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px;
}

@media screen and (min-width: 960px) {
    .section_header {
        padding-bottom: 50px;
    }

    .services_section {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .card {
        margin: 30px;
    }

}
*/