.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-header {
  text-align: center;
}

.name {
  margin: 0 10px;
  color: #2356a6;
  font-size: 2rem;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-description {
  padding: 0 5px;
  text-align: center;
}

.credits__container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.credits {
  font-size: 12px;
  font-weight: 100;
  text-align: center;
}

.email {
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 10px;
}
.color {
  background-color: #ebebeb;
  background-color: #da2f1b;
  background-color: #f5ac18;
  background-color: #2356a6;
  background-color: #eb5b3d;
  background-color: #ffebf9;
  background-color: #ffcaca;
  background-color: #1ba8ab;
  background-color: #eae34c;
  background-color: #1d1d1d;
  background-color: rgb(181, 181, 181);
}

@media screen and (min-width: 720px) {
  .hero-text {
      font-size: 1.2rem;
    }
  
    .name {
      font-size: 3rem;
    }
  
    .hero-description {
      margin-top: 12px;
      width: 50vw;
      font-size: 1.2rem;
    }
  }
  
  @media screen and (min-width: 920px) {
    .hero-text {
      font-size: 1.4rem;
  }

  .name {
    font-size: 3rem;
  }

  .hero-description {
    margin-top: 12px;
    width: 50vw;
    font-size: 1.4rem;
  }
}