.section {
    z-index: 10;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    color: #1d1d1d;
    padding: 0 30px;
    font-family: 'Courier New', Courier, monospace;
}

.section_header {
    margin: 40px auto;
    font-size: 1.4rem;
    font-weight: 700;
}