.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 10px 20px;
}

.social__icons__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.social__icons {
    margin: 20px 10px;
    width: 20px;
    height: 20px;
}

/* @media screen and (min-width: 920px) {

    .md__full_page {
        width: 100vw;
        height: 80vh;
    }

    .section {
        justify-content: center;
        align-items: center;
    }

}
*/