.section {
    width: 100vw;
    height: 100vh;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex__start {
    display: flex;
    justify-content: start;
    align-items: start;
}

.flex__row {
    flex-direction: row;
}

.flex__col {
    flex-direction: column;
}

.flex__center__row {
    flex-direction: row;
}

.section_header {
    text-align: center;
}

button {
    background-color: cadetblue;
    margin: 2px;
    cursor: grab;
}

/* @media screen and (min-width: 920px) {

    .md__full_page {
        width: 100vw;
        height: 80vh;
    }

    .section {
        justify-content: center;
        align-items: center;
    }

}
*/