.nav__container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  margin: 10px;
  z-index: 10;
}

.loki {
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 420px) {
  .nav__container {
    width: 300px;
    justify-content: center;
    font-size: 12px;
    margin-top: 16px;
  }

                .nav__item {
                  margin: 0 5px;
                }
                }


@media screen and (min-width: 720px) {

  .nav__container {
      width: 420px;
      font-size: 14px;
      margin-top: 24px;
    }

                .nav__item {
                  padding: 0 20px;
                }
                }